dataset_temp/
eggs_dataset/*
!eggs_dataset/dataset.yaml
frames_test_video/
runs/
test_runs/
__pycache__/
*.pyc
*.log
*.cache
temp_test_data/
*.pt
*.mp4
*.jpg
*.jpeg
*.png
.vscode/
.idea/
.DS_Store
venv/
env/