classifier_logs/
dataset_temp/
eggs_dataset/*
embryo_test/
embryo_test_out/
!eggs_dataset/dataset.yaml
embryo_classification_data/
frames_test_video/
inference_logs/
runs/
test_runs/
__pycache__/
*.pyc
*.log
*.cache
temp_test_data/
*.pkl
*.pt
*.mp4
*.jpg
*.jpeg
*.png
.vscode/
.idea/
.DS_Store
venv/
env/
log.*
*.json